
<div class="bg" style="background-image:url(assets/img/fundoHome.jpg);">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center mt-5" style="padding-left: 20px;">
            <h3 style="color: white">Registre-se com a sua conta de e-mail, crie seu aplicativo em menos de 15 minutos e teste-o com sua equipe. </h3>


        </div>

        <div class="col-md-8 offset-md-2 text-center" style="padding-top: 20px">
        	<button type="button" class="btn btn-primary" style="color: white" routerLink="/signup"> <i class="icon-pencil5" style="color: white;font-size: 20px"> </i> Criar evento</button>
            <span style="color: white; margin:10px 20px 0px 20px">ou</span>
            <button type="button" class="btn btn-primary" style="color: white" routerLink="/login"> <i class="icon-lock2" style="color: white;font-size: 20px"> </i> Login</button></div>
    </div>
</div>